@font-face {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 400;
  src:
    local("Clash Display"),
    url("../fonts/ClashDisplayRegular.woff") format("woff");
}
@font-face {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 200;
  src:
    local("Clash Display"),
    url("../fonts/ClashDisplayExtralight.woff") format("woff");
}
@font-face {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 300;
  src:
    local("Clash Display"),
    url("../fonts/ClashDisplayLight.woff") format("woff");
}
@font-face {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 500;
  src:
    local("Clash Display"),
    url("../fonts/ClashDisplayMedium.woff") format("woff");
}
@font-face {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  src:
    local("Clash Display"),
    url("../fonts/ClashDisplaySemibold.woff") format("woff");
}
@font-face {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 700;
  src:
    local("Clash Display"),
    url("../fonts/ClashDisplayBold.woff") format("woff");
}
