{
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": "latest",
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "plugins": ["react", "@typescript-eslint", "prettier"],
    "extends": [
      "plugin:react/recommended",
      "airbnb",
      "airbnb-typescript",
      "airbnb/hooks",
      "prettier"
    ],
    "rules": {
      "react/jsx-props-no-spreading": "off",
      "react/react-in-jsx-scope": "off",
      "import/prefer-default-export": "off",
      "prettier/prettier": ["error"], 
      "class-methods-use-this": "off",
      "react/function-component-definition": [
        2,
        {
          "namedComponents": "arrow-function"
        }
      ],
      "import/no-extraneous-dependencies": "off"
    }
  }