<h1>Hi {{name}} 👋</h1>
<p>{{lead}}
    invited you to be part of his team<strong>{{teamName}}</strong>, for this week&#39;s Saturday
    Hack Night. Click the button below to join the team.<br />
    &nbsp;</p><h3><a href='https://hacknight.tinkerhub.org/join/{{inviteCode}}'>Join The Team !!
    </a></h3><p>&nbsp;</p><p>To know more about Saturday Hack Night or to create your own team
    visit,
    <a href='http://hacknight.tinkerhub.org'>hacknight.tinkerhub.org</a></p><p>&nbsp;</p><p>Happy
    Hacking !!</p>