*{
    margin: 0;
    padding: 0;
    background-color: #111;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111;
    /* background-image: url("https://via.placeholder.com/500"); */
    color: antiquewhite;

}
.headline1{
  padding: 7px;
  font-size: 40px;
}

.footer{
    height: 200px;
    background-color: #7059bd;
    color: #111;
}
.abt-head{
  color: rgb(42, 160, 154);
    font-size: 30px;
    padding: 5px;
}
.subhead1{
  padding: 4px;
  font-size: 25px;
  color: rgb(57, 161, 202);
  font-weight: 500;
  word-spacing: 00.6rem;
  letter-spacing: 0.01rem;
}
.line1{
  border: 2px solid rgb(170, 99, 155);
  width:80px;
  margin-left: 4px;
  padding-left: 4px;
}
.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .bn33 {
    font-family:'Courier New', Courier, monospace;
    width: 50%;
    letter-spacing: 1px;
    height: fit-content;
    margin-left: 40px;
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 1px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn18 {
      background-image: linear-gradient(
        to right,
        #25aae1,
        #40e495,
        #30dd8a,
        #2bb673
      );
      box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }

.faq{
    margin-left: 30px;
    word-spacing: 0.1rem;
}

.p1{
  font-size: larger;
  color: white;
  padding: 10px;
  letter-spacing: 0.01rem;
  word-spacing: 0.01rem;
  font-family:'Courier New', Courier, monospace;
}

.p2{
  font-family:'Courier New', Courier, monospace;
  font-size: large;
  padding: 12px;
  margin-left: 3px;
}

.headline{
    
  padding: 2px;
  margin-left: 4px;
  color: rgb(42, 160, 154);
  font-size: 50px;
}

.line{
  padding-left: 4px;
  border: 2px solid rgb(170, 99, 155);
  width:500px;
}
.subhead{
  font-size: 25px;
  color: rgb(57, 161, 202);
  font-weight: 500;
  padding: 5px;
}
@media only screen and (max-width: 400px) {
  .headline{
      padding: 2px;
      margin-left: 4px;
      color: rgb(42, 160, 154);
      font-size: 40px;
  }
  .line{
      padding-left: 4px;
      border: 2px solid rgb(170, 99, 155);
      width:200px;
  }
  .subhead{
      font-size: 20px;
      color: rgb(57, 161, 202);
      font-weight: 500;
      padding: 5px;
  }
}
