.App {
  font-family: sans-serif;
  text-align: center;
}

.testimonialsHeading{
  color: white;
  font-size: 50px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
}

.carousel-image {
  position: absolute;
  transition: opacity 0.5s ease;
  width: 500px;
  height: auto;
  /* background-color: red; */
  max-width: 600px;
  max-height: 400px;
  object-fit: cover;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 140vw;
  height: 350px;
  /* height: auto; */
  /* height:max-content; */
  /* background-color: green; */
  /* height: 50vh; */
  /* left: -11vw; */
  /* margin-left: -20vw; */
}

.carousel-image {
  position: absolute;
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 500px;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  /* background-color: green; */
  /* margin: 800px; */
  scale: 2.5;
}

.carousalContainer {
  /* background-color: red; */
  width: 100vw;
  /* background-color: yellow; */
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}

/* clockwise */


.carousel-image.center {
  max-width: 200px;
  opacity: 1;
  transform: scale(1);
  z-index: 3;
}

.carousel-image.center-left {
  max-width: 200px;
  max-height: 400px;
  opacity: 1;
  transform: translateX(100%) scale(1);
  z-index: 3;
}

.carousel-image.left {
  max-width: 200px;
  max-height: 400px;
  opacity: 0.2;
  transform: translateX(-100%) scale(0.9);
  z-index: 2;
}

.carousel-image.shadow-left {
  display: none;
  max-width: 0;
  min-width: 0;
  transform: scale(0);
  transform: translateX(-200%) scale(0.8);
  z-index: 1;
}

.carousel-image.shadow-right {
  max-width: 200px;
  max-height: 400px;
  opacity: 0.2;
  transform: translateX(200%) scale(0.8);
  z-index: 1;
}



/* anti clockwise classes */


.carousel-image.center-anticlockwise {
  max-width: 200px;
  opacity: 1;
  transform: scale(1);
  z-index: 3;
}

.carousel-image.center-left-anticlockwise {
  max-width: 200px;
  max-height: 400px;
  opacity: 1;
  transform: translateX(-100%) scale(1);
  z-index: 3;
}

.carousel-image.left-anticlockwise {
  max-width: 200px;
  max-height: 400px;
  opacity: 0.2;
  transform: translateX(100%) scale(0.9);
  z-index: 2;
}

.carousel-image.shadow-left-anticlockwise {
  display: none;
  max-width: 0;
  min-width: 0;
  transform: scale(0);
  transform: translateX(200%) scale(0.8);
  z-index: 1;
}

.carousel-image.shadow-right-anticlockwise {
  max-width: 200px;
  max-height: 400px;
  opacity: 0.2;
  transform: translateX(-200%) scale(0.8);
  z-index: 1;
}
.upperCarousal .carousel-image {
  /* background-color: red; */
  /* transform: rotate(180deg); */
  transform-origin: center center;
  /* transform-origin: left top */

}

@media (max-width : 100vh) {

  .carousel {
    width: 100vw;
    margin-bottom: 20px;
    /* left: 10px; */
    height: 200px;
    /* background-color: green; */
    /* height: min-content; */
  }

  .carousel-image {
    scale: 1.3;
  }

  .carousalContainer {
    /* background-color: red; */
    /* border: 10px soild re/d; */
    width: 100vw;
    left: 0px;
    /* margin-left: 0px; */
  }


}