.home{
    background: linear-gradient(36deg,#e206a8,#600f8f);
    background-size: 'cover';
    background-repeat: 'no-repeat';
}
.container{
    text-align: center;
    height: 100vh;
}
.homeTitleImg{
    margin-top: 50px;
    padding-top: 80px;
    width: 80%;
}
.homeSubTitleImg{
    width: 50%;
    padding-bottom: 12px;
    margin-top: 45px;
}
.btnScroll{
    margin-top: 35px;
    display: inline-block;
    padding-inline: 18px;
    color: black;
    border: 0px;
    cursor: pointer;
    background-color: white;
    padding-block: 10px;
    border-radius: 8px;
}
.aboutTitleImg{
    margin-top: 50px;
    margin-bottom: 18px;
    width: 30%;
}
.aboutText{
    font-size: 1.5em;
    margin-top: 50px;
    padding-bottom: 50px;
    line-height: 1.8;
    color: white;
    margin-inline: 40px;
}
.faqTitleImg{
    padding-top: 15px;
    width: 15%;
}
.contactTitleImg{
    padding-top: 15px;
    width: 25%;
}


.accordion {
    margin-top: 46px;
    border-radius: 5px;
    margin-inline: 18px;
}

.accordion__item + .accordion__item {
    margin-top: 5px;
}

.accordion__button {
    border-radius: 9px;
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    font-weight: 500;
    text-align: left;
    border: none;
}

.accordion__button:hover {
    background-color: #ddd;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    margin-top: 2px;
    border-radius: 9px;
    background-color: white;
    padding: 20px;
    color:white;
    text-align: left ;
    -webkit-animation: slide-up 0.5s ease-in; /* Safari 4+ */
    -moz-animation:    slide-up 0.5s ease-in; /* Fx 5+ */
    -o-animation:      slide-up 0.5s ease-in; /* Opera 12+ */
    animation:         slide-up 0.5s ease-in; /* IE 10+ */
}
.accordion__panel p{
    background-image: linear-gradient(to bottom right, #650f90,#b7089f);
    background-repeat: repeat;
    background-size: 100%;
    text-align: left;
    margin: 0px;
    padding: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    background-clip: text;
    -moz-text-fill-color: transparent;
}
.footer{
    margin-top: 18px;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: #650f90;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

@-webkit-keyframes slide-up {
    0%   { height: 0; }
    100% { height: 100%; }
}
@-moz-keyframes slide-up {
    0%   { height: 0; }
    100% { height: 100%; }
}
@-o-keyframes slide-up {
    0%   { height: 0; }
    100% { height: 100%; }
}
@keyframes slide-up {
    0%   { height: 0; }
    100% { height: 100%; }
}

@media only screen and (max-width:630px){
    .container{
        height: auto;
    }
    .aboutText{
        font-size: 1em;
        margin-top: 50px;
        padding-bottom: 50px;
        line-height: 1.4;
        color: white;
        margin-inline: 40px;
    }
}
